# Filen API all endpoints

openapi: '3.0.3'
info:
  title: Filen API
  description: |-
    The Filen API is used by Filen clients for uploading and downloading files, managing files and directories, sharing items, accessing notes and contacts, having chat conversations, managing user-specific settings, and more.
    
    ### API hosts
    The Filen API is located at `gateway.filen.io`, but there are more hosts for redundancy:
    - `gateway.filen.io`
    - `gateway.filen.net`
    - `gateway.filen-1.net`
    - `gateway.filen-2.net`
    - `gateway.filen-3.net`
    - `gateway.filen-4.net`
    - `gateway.filen-5.net`
    - `gateway.filen-6.net`

    For file transfers, there's also `ingest.filen.io`, `ingest.filen.net` etc. and `egest.filen.io`, `egest.filen.net` etc. When connecting to the API, you should choose a host at random and retry on other hosts when a request fails.
    
    ### API responses
    All API responses follow the scheme (TypeScript type definition):
    ```ts
    {
      status: boolean, // indicates whether the request was successful
      message: string, // additional information
      code: string, // a status code
      data: any? // optionally, response data
    }
    ```

    ### Internal endpoints
    There are a number of internal endpoints whose specifics are not documented here.
    If you need them, you can infer their definitions and usage from [the TypeScript SDK's API wrapper](https://github.com/FilenCloudDienste/filen-sdk-ts/tree/main/src/api/v3).

  version: v3
servers:
  - url: https://gateway.filen.io/v3
externalDocs:
  description: Get general information about usage of the Filen API at docs.filen.io
  url: "https://docs.filen.io/docs/api/introduction"
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: API Key
      in: header
  schemas:
    response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        code:
          type: string
paths:
  /health: #edited
    get:
      summary: Get API health
      responses:
        "200":
          description: health
          content:
            text/plain:
              schema:
                type: string
                example: OK
  /upload/done: #edited
    post:
      tags: [File Transfers]
      summary: Mark an upload completed
      description: Marks an upload as completed. Use this after you've uploaded file chunks to the Ingest API. #todo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: the UUID of the uploaded file
                  example: (file uuid)
                name:
                  type: string
                  description: the file name (metadata-encrypted)
                  example: (file name, metadata-encrypted)
                nameHashed:
                  type: string
                  description: the hex-encoded SHA-512 hash of the file name
                  example: (SHA-512 hash of file name, as hex)
                size:
                  type: string
                  description: the file's total size in bytes (metadata-encrypted)
                  example: (file size in bytes, metadata-encrypted)
                chunks:
                  type: integer
                  description: the number of chunks uploaded
                  example: (number of chunks uploaded)
                mime:
                  type: string
                  description: the file's MIME type
                  example: (file MIME type)
                rm:
                  type: string
                  description: a cryptographically-secure random string of length 32
                  example: (random string of length 32)
                metadata:
                  type: string
                  description: |-
                    the file's metadata (stringified and metadata-encrypted) following the schema (TypeScript type definition):
                    ```ts
                    {
                      name: string, // the file name
                      size: number, // the file size in bytes
                      mime: string, // the file's MIME type
                      key: string, // the key used to encrypt the file chunks
                      lastModified: number, // the file's modification time in milliseconds
                      creation: string, // the file's creation time in milliseconds
                    }
                    ```
                  example: (-> see description)
                version:
                  type: string
                  description: the file encryption version, which is `2`
                  example: 2
                uploadKey:
                  type: string
                  description: a cryptographically-secure random string of length 32, which had been passed along with each file chunk
                  example: (upload key from chunk uploads)
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      chunks:
                        type: number
                        description: the number of chunks uploaded
                        example: (number of chunks uploaded)
                      size:
                        type: number
                        description: the file's total size in bytes
                        example: (file size in bytes)
  /user/affiliate/payout:
    post:
      tags: [(internal)]
      summary: Request an affiliate payout (internal)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                address:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
  /user/sub/create:
    post:
      tags: [(internal)]
      summary: Create a subscription checkout URL (internal)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  description: paypal | stripe | crypto
                planId:
                  type: number
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
  ################################################################
  /user/avatar:
    post:
      tags: [(internal)]
      summary: Upload an avatar (internal)
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  example: base64 string
                hash:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      avatarURL:
                        type: string
                        example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/password/forgot:
    post:
      tags:
        - user
      description: Send out a password recovery email
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/password/forgot/reset:
    post:
      tags:
        - user
      description: Reset password using previously generated token
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: string
                password:
                  type: string
                  example: string
                authVersion:
                  type: string
                  example: number
                salt:
                  type: string
                  example: string
                hasRecoveryKeys:
                  type: string
                  example: boolean
                newMasterKeys:
                  type: string
                  example: string?
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/sub/cancel:
    post:
      tags:
        - user
      description: Cancel a subscription
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/personal/update:
    post:
      tags:
        - user
      description: Update personal information
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  example: string | __NONE__
                lastName:
                  type: string
                  example: string | __NONE__
                companyName:
                  type: string
                  example: string | __NONE__
                vatId:
                  type: string
                  example: string | __NONE__
                street:
                  type: string
                  example: string | __NONE__
                streetNumber:
                  type: string
                  example: string | __NONE__
                city:
                  type: string
                  example: string | __NONE__
                postalCode:
                  type: string
                  example: string | __NONE__
                country:
                  type: string
                  example: string | __NONE__
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/baseFolder: #edited
    get:
      tags: [Items]
      summary: Get user base folder
      description: Returns the UUID of the user's root directory.
      security: [api_key: []]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          uuid:
                            type: string
                            description: the user's root directory's UUID
  /user/versioning:
    post:
      tags:
        - user
      description: Enable or disable versioning
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  example: 0 | 1
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/loginAlerts:
    post:
      tags:
        - user
      description: Enable or disable login alerts
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  example: 0 | 1
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/2fa/enable:
    post:
      tags:
        - user
      description: Enable 2FA
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      recoveryKeys:
                        type: string
                        example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/2fa/disable:
    post:
      tags:
        - user
      description: Disable 2FA
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      newKey:
                        type: string
                        example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/gdpr:
    get:
      tags:
        - user
      description: Fetch the user's GDPR info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          email:
                            type: string
                            example: string
                          lastActiveUnixTimestamp:
                            type: string
                            example: number
                          lastActiveChatUnixTimestamp:
                            type: string
                            example: number
                          lastIPAddress:
                            type: string
                            example: string
                          nickName:
                            type: string
                            example: string
                          personal:
                            type: object
                            properties:
                              firstName:
                                type: string
                                example: string | null
                              lastName:
                                type: string
                                example: string | null
                              companyName:
                                type: string
                                example: string | null
                              vatId:
                                type: string
                                example: string | null
                              street:
                                type: string
                                example: string | null
                              streetNumber:
                                type: string
                                example: string | null
                              city:
                                type: string
                                example: string | null
                              postalCode:
                                type: string
                                example: string | null
                              country:
                                type: string
                                example: string | null
                      events:
                        type: object
                        properties:
                          ipAddresses:
                            type: string
                            example: "string[]"
                          userAgents:
                            type: string
                            example: "string[]"
                xml:
                  name: main
  /user/delete:
    post:
      tags:
        - user
      description: Account deletion
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                twoFactorKey:
                  type: string
                  example: string | XXXXXX
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/delete/all:
    post:
      tags:
        - user
      description: Delete all files and folders
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/didExportMasterKeys:
    post:
      tags:
        - user
      description: Mark master keys as exported
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/lock:
    post:
      tags:
        - user
      description: "Acquire a lock for a given resource. Locks are being held for\
        \ 60 seconds and need to be refreshed, otherwise they expire. "
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: UUIDv4
                resource:
                  type: string
                  example: string
                type:
                  type: string
                  example: acquire | release | status | refresh
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      acquired:
                        type: string
                        example: boolean
                      released:
                        type: string
                        example: boolean
                      refreshed:
                        type: string
                        example: boolean
                      resource:
                        type: string
                        example: string
                      status:
                        type: string
                        example: locked?
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/delete/versions:
    post:
      tags:
        - user
      description: Delete all file versions
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/settings:
    get:
      tags:
        - user
      description: Fetch the user's settings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        example: string
                      twoFactorKey:
                        type: string
                        example: string
                      twoFactorEnabled:
                        type: string
                        example: 0 | 1
                      versionedFiles:
                        type: string
                        example: number
                      versionedStorage:
                        type: string
                        example: number
                      unfinishedFiles:
                        type: string
                        example: number
                      unfinishedStorage:
                        type: string
                        example: number
                      storageUsed:
                        type: string
                        example: number
                xml:
                  name: main
  /user/info:
    get:
      tags:
        - user
      description: Fetch the user's info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: number
                      email:
                        type: string
                        example: string
                      maxStorage:
                        type: string
                        example: number
                      storageUsed:
                        type: string
                        example: number
                      isPremium:
                        type: string
                        example: 0 | 1
                      avatarURL:
                        type: string
                        example: string | url | dataURI | null
                      baseFolderUUID:
                        type: string
                        example: uuidv4
                xml:
                  name: main
  /user/settings/email/change:
    post:
      tags:
        - user
      description: Change email address
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: string
                password:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/settings/password/change:
    post:
      tags:
        - user
      description: Change password
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: string
                currentPassword:
                  type: string
                  example: string
                salt:
                  type: string
                  example: string
                masterKeys:
                  type: string
                  example: string
                authVersion:
                  type: string
                  example: number
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      newAPIKey:
                        type: string
                        example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/masterKeys: #edited
    post:
      tags: [User]
      summary: Retrieve and update user master keys
      description: Returns the user's master keys. If this is the user's first login, there are no master keys yet and the passed `masterKeys` are saved.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                masterKeys:
                  type: string
                  description: the master key that was derived from the raw password (metadata-encrypted)
                  example: (master key derived from raw password)
        required: true
      security: [api_key: []]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          keys:
                            type: string
                            description: the user's saved master keys, joined with `"|"` (metadata-encrypted)
                            example: (master keys joined with '|', metadata-encrypted)
  /user/keyPair/info:
    get:
      tags:
        - user
      description: Retrieve encrypted user keypair
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      publicKey:
                        type: string
                        example: string
                      privateKey:
                        type: string
                        example: string
                xml:
                  name: main
  /user/keyPair/update:
    post:
      tags:
        - user
      description: Update user keypair
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  example: string
                privateKey:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/keyPair/set:
    post:
      tags:
        - user
      description: Set user keypair
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  example: string
                privateKey:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/events:
    post:
      tags:
        - user
      description: Retrieve user events
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  example: number
                filter:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      events:
                        type: string
                        example: array
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/event:
    post:
      tags:
        - user
      description: Retrieve event info
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: number
                      uuid:
                        type: string
                        example: string
                      type:
                        type: string
                        example: string
                      info:
                        type: string
                        example: object
                      timestamp:
                        type: string
                        example: number
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/invoice:
    post:
      tags:
        - user
      description: Generate invoice from UUID
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: string
                    example: base64
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/publicKey:
    post:
      tags:
        - user
      description: Retrieve a user's public key
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      publicKey:
                        type: string
                        example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/nickname:
    post:
      tags:
        - user
      description: Update nickname
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/appearOffline:
    post:
      tags:
        - user
      description: Update appearOffline
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                appearOffline:
                  type: string
                  example: boolean
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/pushToken:
    post:
      tags:
        - user
      description: Assign a push token to your account
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  example: ios | android | web
                token:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/lastActive/desktop:
    post:
      tags:
        - user
      description: Update last active timestamp for desktop platforms
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: string
                  example: number
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /user/account:
    get:
      tags:
        - user
      description: Retrieve user account data
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        example: string
                      uploads:
                        type: string
                        example: number
                      folders:
                        type: string
                        example: number
                      storage:
                        type: string
                        example: number
                      maxStorage:
                        type: string
                        example: number
                      isPremium:
                        type: string
                        example: 0 | 1 | boolean
                      plans:
                        type: string
                        example: array
                      invoices:
                        type: string
                        example: array
                      subsInvoices:
                        type: string
                        example: array
                      subs:
                        type: string
                        example: array
                      referCount:
                        type: string
                        example: number
                      referStorage:
                        type: string
                        example: number
                      refLimit:
                        type: string
                        example: number
                      refStorage:
                        type: string
                        example: number
                      refId:
                        type: string
                        example: string
                      affId:
                        type: string
                        example: string
                      affRate:
                        type: string
                        example: number
                      affCount:
                        type: string
                        example: number
                      affEarnings:
                        type: string
                        example: number
                      affBalance:
                        type: string
                        example: number
                      avatarURL:
                        type: string
                        example: string
                      nickName:
                        type: string
                        example: string
                      displayName:
                        type: string
                        example: string
                      appearOffline:
                        type: string
                        example: boolean
                      didExportMasterKeys:
                        type: string
                        example: boolean
                      personal:
                        type: object
                        properties:
                          firstName:
                            type: string
                            example: string
                          lastName:
                            type: string
                            example: string
                          companyName:
                            type: string
                            example: string
                          vatId:
                            type: string
                            example: string
                          street:
                            type: string
                            example: string
                          streetNumber:
                            type: string
                            example: string
                          city:
                            type: string
                            example: string
                          postalCode:
                            type: string
                            example: string
                          country:
                            type: string
                            example: string
                xml:
                  name: main
  /trash/empty: #edited
    post:
      tags: [Items]
      summary: Empty trash
      description: Permanently deletes all trash items.
      security: [api_key: []]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
  /auth/info: #edited
    post:
      tags: [User]
      summary: Get auth info
      description: Returns user-specific authentication info.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: the user's email
                  example: (user email)
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
  /login: #edited
    post:
      tags: [User]
      summary: Login
      description: Returns the API Key. See the [documentation](/docs/api/guides/authentication).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: the user's email
                  example: (user email)
                password:
                  type: string
                  description: a key derived from the user's password, see the documentation
                  example: (-> see description)
                twoFactorCode:
                  type: string
                  description: the user's two-factor authentication code, or `"XXXXXX"` if 2FA is disabled
                  example: (two-factor authentication code or 'XXXXXX')
                authVersion:
                  type: number
                  description: the auth version, which is `2`
                  example: 2
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          apiKey:
                            type: string
                            description: the API Key
                            example: (API key)
                          masterKeys:
                            type: string
                            description: the master keys
                            example: (master keys)
                          publicKey:
                            type: string
                            description: the public key
                            example: (public key)
                          privateKey:
                            type: string
                            description: the private key
                            example: (private key)
  /register:
    post:
      tags:
        - auth
      description: Register
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: string
                password:
                  type: string
                  example: string
                salt:
                  type: string
                  example: string
                authVersion:
                  type: string
                  example: number
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /confirmation/send:
    post:
      tags:
        - auth
      description: Resend a confirmation email
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: string
                    example: object | array | undefined
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir: #edited
    post:
      tags: [Directories]
      summary: Get directory info
      description: Returns information about a directory.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: the desired directory's UUID
                  example: (directory UUID)
        required: true
      security: [api_key: []]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/response"
                  - type: object
                    properties:
                      uuid:
                        type: string
                        description: the directory's UUID
                        example: (directory UUID)
                      nameEncrypted:
                        type: string
                        description: the directory's name (metadata-encrypted)
                        example: (directory name, metadata-encrypted)
                      nameHashed:
                        type: string
                        description: the hex-encoded SHA-512 hash of the directory's name
                        example: (SHA-512 hash of directory name, hex-encoded)
                      parent:
                        type: string
                        description: the parente directory's UUID
                        example: (parent directory UUID)
                      trash:
                        type: boolean
                        description: whether this directory is in trash
                        example: (whether the directory is trashed)
                      favorited:
                        type: boolean
                        description: whether this directory is favorited
                        example: (whether the directory is favorited)
                      color:
                        type: string
                        description: the directory's assigned color (as hex code `#000000` or valid CSS value), or `null` if none is set
                        example: (directory color, or null)
  /dir/content:
    post:
      tags:
        - dir
      description: Retrieve folder content
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: favorites | recents | links | trash | uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: string
                    example: object | array | undefined
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/restore:
    post:
      tags:
        - dir
      description: Restore a directory from the trash
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/create:
    post:
      tags:
        - dir
      description: Create a folder
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                name:
                  type: string
                  example: encrypted string
                nameHashed:
                  type: string
                  example: string
                parent:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: uuidv4
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/link/edit:
    post:
      tags:
        - dir
      description: Edit a folder's public link
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                expiration:
                  type: string
                  example: string
                password:
                  type: string
                  example: string
                passwordHashed:
                  type: string
                  example: string
                downloadBtn:
                  type: string
                  example: boolean
                salt:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/download:
    post:
      tags:
        - dir
      description: Retrieve complete folder tree (flattened)
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      files:
                        type: string
                        example: array
                      folders:
                        type: string
                        example: array
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/link/remove:
    post:
      tags:
        - dir
      description: Remove a public link from a folder
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/download/link:
    post:
      tags:
        - dir
      description: Retrieve complete folder tree of a public link (flattened)
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                parent:
                  type: string
                  example: uuidv4
                password:
                  type: string
                  example: string | none
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      files:
                        type: string
                        example: array
                      folders:
                        type: string
                        example: array
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/download/shared:
    post:
      tags:
        - dir
      description: Retrieve complete folder tree of a shared folder (flattened)
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      files:
                        type: string
                        example: array
                      folders:
                        type: string
                        example: array
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/link/status:
    post:
      tags:
        - dir
      description: Retrieve status of a folder public link
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      exists:
                        type: string
                        example: boolean
                      uuid:
                        type: string
                        example: uuidv4?
                      key:
                        type: string
                        example: string?
                      expiration:
                        type: string
                        example: number?
                      expirationText:
                        type: string
                        example: string?
                      downloadBtn:
                        type: string
                        example: 0 | 1?
                      password:
                        type: string
                        example: string?
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/link/add:
    post:
      tags:
        - dir
      description: Add an item to a folder public link
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                parent:
                  type: string
                  example: uuidv4
                linkUUID:
                  type: string
                  example: uuidv4
                type:
                  type: string
                  example: file | folder
                metadata:
                  type: string
                  example: encrypted string
                key:
                  type: string
                  example: encrypted string
                expiration:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/tree:
    post:
      tags:
        - dir
      description: "Get a complete directory tree (meant for syncing, flattened)"
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                deviceId:
                  type: string
                  example: uuidv4
                skipCache:
                  type: string
                  example: 0 | 1
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      folders:
                        type: string
                        example: array
                      files:
                        type: string
                        example: array
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/color:
    post:
      tags:
        - dir
      description: Change folder color
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                color:
                  type: string
                  example: default | blue | green | purple | gray | red
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/size:
    post:
      tags:
        - dir
      description: Retrieve directory size
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                sharerId:
                  type: string
                  example: number | 0
                receiverId:
                  type: string
                  example: number | 0
                trash:
                  type: string
                  example: 0 | 1
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      size:
                        type: string
                        example: number
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/size/link:
    post:
      tags:
        - dir
      description: Retrieve public link directory size
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                linkUUID:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      size:
                        type: string
                        example: number
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file:
    post:
      tags:
        - file
      description: Retrieve file info
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: uuidv4
                      region:
                        type: string
                        example: string
                      bucket:
                        type: string
                        example: string
                      nameEncrypted:
                        type: string
                        example: string
                      nameHashed:
                        type: string
                        example: string
                      sizeEncrypted:
                        type: string
                        example: string
                      mimeEncrypted:
                        type: string
                        example: string
                      metadata:
                        type: string
                        example: string
                      size:
                        type: string
                        example: number
                      parent:
                        type: string
                        example: uuidv4
                      versioned:
                        type: string
                        example: boolean
                      trash:
                        type: string
                        example: boolean
                      version:
                        type: string
                        example: number
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/link/status:
    post:
      tags:
        - file
      description: Retrieve file public link status
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: uuidv4
                      enabled:
                        type: string
                        example: boolean
                      expiration:
                        type: string
                        example: number
                      expirationText:
                        type: string
                        example: string
                      downloadBtn:
                        type: string
                        example: boolean
                      password:
                        type: string
                        example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/version/restore:
    post:
      tags:
        - file
      description: Restore a file version
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                current:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    example: uuidv4
                  currentUUID:
                    type: string
                    example: uuidv4
                  metadata:
                    type: string
                    example: string
                  bucket:
                    type: string
                    example: string
                  region:
                    type: string
                    example: string
                  chunks:
                    type: string
                    example: number
                  parent:
                    type: string
                    example: string
                  rm:
                    type: string
                    example: string
                  timestamp:
                    type: string
                    example: number
                  version:
                    type: string
                    example: number
                  favorited:
                    type: string
                    example: 0 | 1
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/link/edit:
    post:
      tags:
        - file
      description: Edit a file's public link
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                fileUUID:
                  type: string
                  example: uuidv4
                expiration:
                  type: string
                  example: string
                password:
                  type: string
                  example: string
                passwordHashed:
                  type: string
                  example: string
                downloadBtn:
                  type: string
                  example: boolean
                salt:
                  type: string
                  example: string
                type:
                  type: string
                  example: enable | disable
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/restore:
    post:
      tags:
        - file
      description: Restore a file from the trash
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/present:
    post:
      tags:
        - file
      description: Check if a file exists
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      present:
                        type: string
                        example: boolean
                      versioned:
                        type: string
                        example: boolean | undefined
                      trash:
                        type: string
                        example: boolean | undefined
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/move:
    post:
      tags:
        - dir
      description: Move a directory
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                to:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/present:
    post:
      tags:
        - dir
      description: Check if a directory exists
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      present:
                        type: string
                        example: boolean
                      trash:
                        type: string
                        example: boolean | undefined
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/exists:
    post:
      tags:
        - dir
      description: Check if a directory exists inside a parent with a given name
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: string
                  example: uuidv4
                nameHashed:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      exists:
                        type: string
                        example: boolean
                      uuid:
                        type: string
                        example: string?
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/rename:
    post:
      tags:
        - dir
      description: Rename a directory
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                name:
                  type: string
                  example: string
                nameHashed:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/exists:
    post:
      tags:
        - file
      description: Check if a file exists inside a parent with a given name
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: string
                  example: uuidv4
                nameHashed:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      exists:
                        type: string
                        example: boolean
                      uuid:
                        type: string
                        example: string?
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/move:
    post:
      tags:
        - file
      description: Move a file
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                to:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/rename:
    post:
      tags:
        - file
      description: Rename a file
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
                name:
                  type: string
                  example: string
                metadata:
                  type: string
                  example: string
                nameHashed:
                  type: string
                  example: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/versions:
    post:
      tags:
        - file
      description: Retrieve all versions of a file
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                  data:
                    type: object
                    properties:
                      versions:
                        type: string
                        example: "{ uuid: uuid, metadata: string, bucket: string,\
                          \ region: string, chunks: number, rm: string, timestamp:\
                          \ number, version: number }[]"
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/delete/permanent:
    post:
      tags:
        - file
      description: Delete a file permanently
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /file/trash:
    post:
      tags:
        - file
      description: Move a file to the trash
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/trash:
    post:
      tags:
        - dir
      description: Move a directory to the trash
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /dir/delete/permanent:
    post:
      tags:
        - dir
      description: Delete a directory permanently
      requestBody:
        description: Body JSON
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  example: uuidv4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: boolean
                  message:
                    type: string
                    example: string
                  code:
                    type: string
                    example: string
                xml:
                  name: main
      x-codegen-request-body-name: body
  /versions:
    get:
      tags:
        - misc
      description: Retrieve current client versions
      responses:
        "200":
          description: OK
          content:
[...]
