{
  "openapi": "2.0",
  "info": {
    "version": "3",
    "title": "Filen.io API",
    "description": ""
  },
  "host": "gateway.filen.io",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Please enter a API key to test the requests below..."
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "description": "Get API health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/upload/done": {
      "post": {
        "tags": [
          "upload"
        ],
        "description": "Marks an upload as completed",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "string"
                },
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "nameHashed": {
                  "type": "string",
                  "example": "string"
                },
                "size": {
                  "type": "string",
                  "example": "string"
                },
                "chunks": {
                  "type": "string",
                  "example": "number"
                },
                "mime": {
                  "type": "string",
                  "example": "string"
                },
                "rm": {
                  "type": "string",
                  "example": "string"
                },
                "metadata": {
                  "type": "string",
                  "example": "string"
                },
                "version": {
                  "type": "string",
                  "example": "number"
                },
                "uploadKey": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "string",
                  "example": "object | array | undefined"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/affiliate/payout": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Request an affiliate payout",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string",
                  "example": "string"
                },
                "address": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "string",
                  "example": "object | array | undefined"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/sub/create": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Create a subscription checkout URL",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string",
                  "example": "paypal | stripe | crypto"
                },
                "planId": {
                  "type": "string",
                  "example": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/avatar": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Upload an avatar",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "avatar": {
                  "type": "string",
                  "example": "base64 string"
                },
                "hash": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "avatarURL": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/password/forgot": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Send out a password recovery email",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/password/forgot/reset": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Reset password using previously generated token",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "example": "string"
                },
                "password": {
                  "type": "string",
                  "example": "string"
                },
                "authVersion": {
                  "type": "string",
                  "example": "number"
                },
                "salt": {
                  "type": "string",
                  "example": "string"
                },
                "hasRecoveryKeys": {
                  "type": "string",
                  "example": "boolean"
                },
                "newMasterKeys": {
                  "type": "string",
                  "example": "string?"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/sub/cancel": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Cancel a subscription",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/personal/update": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Update personal information",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "lastName": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "companyName": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "vatId": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "street": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "streetNumber": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "city": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "postalCode": {
                  "type": "string",
                  "example": "string | __NONE__"
                },
                "country": {
                  "type": "string",
                  "example": "string | __NONE__"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/baseFolder": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "Fetch the user's base folder",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "uuidv4"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/versioning": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Enable or disable versioning",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "enabled": {
                  "type": "string",
                  "example": "0 | 1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/loginAlerts": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Enable or disable login alerts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "enabled": {
                  "type": "string",
                  "example": "0 | 1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/2fa/enable": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Enable 2FA",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "recoveryKeys": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/2fa/disable": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Disable 2FA",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "newKey": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/gdpr": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "Fetch the user's GDPR info",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "example": "string"
                        },
                        "lastActiveUnixTimestamp": {
                          "type": "string",
                          "example": "number"
                        },
                        "lastActiveChatUnixTimestamp": {
                          "type": "string",
                          "example": "number"
                        },
                        "lastIPAddress": {
                          "type": "string",
                          "example": "string"
                        },
                        "nickName": {
                          "type": "string",
                          "example": "string"
                        },
                        "personal": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "companyName": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "vatId": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "street": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "streetNumber": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "city": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "postalCode": {
                              "type": "string",
                              "example": "string | null"
                            },
                            "country": {
                              "type": "string",
                              "example": "string | null"
                            }
                          }
                        }
                      }
                    },
                    "events": {
                      "type": "object",
                      "properties": {
                        "ipAddresses": {
                          "type": "string",
                          "example": "string[]"
                        },
                        "userAgents": {
                          "type": "string",
                          "example": "string[]"
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/delete": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Account deletion",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "twoFactorKey": {
                  "type": "string",
                  "example": "string | XXXXXX"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/delete/all": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Delete all files and folders",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/didExportMasterKeys": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Mark master keys as exported",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/lock": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Acquire a lock for a given resource. Locks are being held for 60 seconds and need to be refreshed, otherwise they expire. ",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "UUIDv4"
                },
                "resource": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "acquire | release | status | refresh"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "acquired": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "released": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "refreshed": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "resource": {
                      "type": "string",
                      "example": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "locked?"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/delete/versions": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Delete all file versions",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/settings": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "Fetch the user's settings",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "twoFactorKey": {
                      "type": "string",
                      "example": "string"
                    },
                    "twoFactorEnabled": {
                      "type": "string",
                      "example": "0 | 1"
                    },
                    "versionedFiles": {
                      "type": "string",
                      "example": "number"
                    },
                    "versionedStorage": {
                      "type": "string",
                      "example": "number"
                    },
                    "unfinishedFiles": {
                      "type": "string",
                      "example": "number"
                    },
                    "unfinishedStorage": {
                      "type": "string",
                      "example": "number"
                    },
                    "storageUsed": {
                      "type": "string",
                      "example": "number"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/info": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "Fetch the user's info",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "number"
                    },
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "maxStorage": {
                      "type": "string",
                      "example": "number"
                    },
                    "storageUsed": {
                      "type": "string",
                      "example": "number"
                    },
                    "isPremium": {
                      "type": "string",
                      "example": "0 | 1"
                    },
                    "avatarURL": {
                      "type": "string",
                      "example": "string | url | dataURI | null"
                    },
                    "baseFolderUUID": {
                      "type": "string",
                      "example": "uuidv4"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/settings/email/change": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Change email address",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "string"
                },
                "password": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/settings/password/change": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Change password",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "type": "string",
                  "example": "string"
                },
                "currentPassword": {
                  "type": "string",
                  "example": "string"
                },
                "salt": {
                  "type": "string",
                  "example": "string"
                },
                "masterKeys": {
                  "type": "string",
                  "example": "string"
                },
                "authVersion": {
                  "type": "string",
                  "example": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "newAPIKey": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/masterKeys": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Retrieve and update user master keys",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "masterKeys": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/keyPair/info": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "Retrieve encrypted user keypair",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "publicKey": {
                      "type": "string",
                      "example": "string"
                    },
                    "privateKey": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/keyPair/update": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Update user keypair",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "publicKey": {
                  "type": "string",
                  "example": "string"
                },
                "privateKey": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/keyPair/set": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Set user keypair",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "publicKey": {
                  "type": "string",
                  "example": "string"
                },
                "privateKey": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/events": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Retrieve user events",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "example": "number"
                },
                "filter": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "string",
                      "example": "array"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/event": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Retrieve event info",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "number"
                    },
                    "uuid": {
                      "type": "string",
                      "example": "string"
                    },
                    "type": {
                      "type": "string",
                      "example": "string"
                    },
                    "info": {
                      "type": "string",
                      "example": "object"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "number"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/invoice": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Generate invoice from UUID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "string",
                  "example": "base64"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/publicKey": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Retrieve a user's public key",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "publicKey": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/nickname": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Update nickname",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/appearOffline": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Update appearOffline",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "appearOffline": {
                  "type": "string",
                  "example": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/pushToken": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Assign a push token to your account",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "platform": {
                  "type": "string",
                  "example": "ios | android | web"
                },
                "token": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/lastActive/desktop": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Update last active timestamp for desktop platforms",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "example": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user/account": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "Retrieve user account data",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "uploads": {
                      "type": "string",
                      "example": "number"
                    },
                    "folders": {
                      "type": "string",
                      "example": "number"
                    },
                    "storage": {
                      "type": "string",
                      "example": "number"
                    },
                    "maxStorage": {
                      "type": "string",
                      "example": "number"
                    },
                    "isPremium": {
                      "type": "string",
                      "example": "0 | 1 | boolean"
                    },
                    "plans": {
                      "type": "string",
                      "example": "array"
                    },
                    "invoices": {
                      "type": "string",
                      "example": "array"
                    },
                    "subsInvoices": {
                      "type": "string",
                      "example": "array"
                    },
                    "subs": {
                      "type": "string",
                      "example": "array"
                    },
                    "referCount": {
                      "type": "string",
                      "example": "number"
                    },
                    "referStorage": {
                      "type": "string",
                      "example": "number"
                    },
                    "refLimit": {
                      "type": "string",
                      "example": "number"
                    },
                    "refStorage": {
                      "type": "string",
                      "example": "number"
                    },
                    "refId": {
                      "type": "string",
                      "example": "string"
                    },
                    "affId": {
                      "type": "string",
                      "example": "string"
                    },
                    "affRate": {
                      "type": "string",
                      "example": "number"
                    },
                    "affCount": {
                      "type": "string",
                      "example": "number"
                    },
                    "affEarnings": {
                      "type": "string",
                      "example": "number"
                    },
                    "affBalance": {
                      "type": "string",
                      "example": "number"
                    },
                    "avatarURL": {
                      "type": "string",
                      "example": "string"
                    },
                    "nickName": {
                      "type": "string",
                      "example": "string"
                    },
                    "displayName": {
                      "type": "string",
                      "example": "string"
                    },
                    "appearOffline": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "didExportMasterKeys": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "personal": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "example": "string"
                        },
                        "lastName": {
                          "type": "string",
                          "example": "string"
                        },
                        "companyName": {
                          "type": "string",
                          "example": "string"
                        },
                        "vatId": {
                          "type": "string",
                          "example": "string"
                        },
                        "street": {
                          "type": "string",
                          "example": "string"
                        },
                        "streetNumber": {
                          "type": "string",
                          "example": "string"
                        },
                        "city": {
                          "type": "string",
                          "example": "string"
                        },
                        "postalCode": {
                          "type": "string",
                          "example": "string"
                        },
                        "country": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/trash/empty": {
      "post": {
        "tags": [
          "trash"
        ],
        "description": "Empty trash",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/auth/info": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Retrieve auth info for a user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "string",
                  "example": "object | array | undefined"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Login",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "string"
                },
                "password": {
                  "type": "string",
                  "example": "string"
                },
                "twoFactorCode": {
                  "type": "string",
                  "example": "string | XXXXXX"
                },
                "authVersion": {
                  "type": "string",
                  "example": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "string",
                  "example": "object | array | undefined"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Register",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "string"
                },
                "password": {
                  "type": "string",
                  "example": "string"
                },
                "salt": {
                  "type": "string",
                  "example": "string"
                },
                "authVersion": {
                  "type": "string",
                  "example": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/confirmation/send": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Resend a confirmation email",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "string",
                  "example": "object | array | undefined"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve folder info",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "string"
                    },
                    "nameEncrypted": {
                      "type": "string",
                      "example": "string"
                    },
                    "nameHashed": {
                      "type": "string",
                      "example": "string"
                    },
                    "parent": {
                      "type": "string",
                      "example": "string"
                    },
                    "trash": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "favorited": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "color": {
                      "type": "string",
                      "example": "string | null"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/content": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve folder content",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "favorites | recents | links | trash | uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "string",
                  "example": "object | array | undefined"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/restore": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Restore a directory from the trash",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/create": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Create a folder",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "name": {
                  "type": "string",
                  "example": "encrypted string"
                },
                "nameHashed": {
                  "type": "string",
                  "example": "string"
                },
                "parent": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "uuidv4"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/link/edit": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Edit a folder's public link",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "expiration": {
                  "type": "string",
                  "example": "string"
                },
                "password": {
                  "type": "string",
                  "example": "string"
                },
                "passwordHashed": {
                  "type": "string",
                  "example": "string"
                },
                "downloadBtn": {
                  "type": "string",
                  "example": "boolean"
                },
                "salt": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/download": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve complete folder tree (flattened)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "string",
                      "example": "array"
                    },
                    "folders": {
                      "type": "string",
                      "example": "array"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/link/remove": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Remove a public link from a folder",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/download/link": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve complete folder tree of a public link (flattened)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "parent": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "password": {
                  "type": "string",
                  "example": "string | none"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "string",
                      "example": "array"
                    },
                    "folders": {
                      "type": "string",
                      "example": "array"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/download/shared": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve complete folder tree of a shared folder (flattened)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "string",
                      "example": "array"
                    },
                    "folders": {
                      "type": "string",
                      "example": "array"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/link/status": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve status of a folder public link",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "exists": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "uuid": {
                      "type": "string",
                      "example": "uuidv4?"
                    },
                    "key": {
                      "type": "string",
                      "example": "string?"
                    },
                    "expiration": {
                      "type": "string",
                      "example": "number?"
                    },
                    "expirationText": {
                      "type": "string",
                      "example": "string?"
                    },
                    "downloadBtn": {
                      "type": "string",
                      "example": "0 | 1?"
                    },
                    "password": {
                      "type": "string",
                      "example": "string?"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/link/add": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Add an item to a folder public link",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "parent": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "linkUUID": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "type": {
                  "type": "string",
                  "example": "file | folder"
                },
                "metadata": {
                  "type": "string",
                  "example": "encrypted string"
                },
                "key": {
                  "type": "string",
                  "example": "encrypted string"
                },
                "expiration": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/tree": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Get a complete directory tree (meant for syncing, flattened)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "deviceId": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "skipCache": {
                  "type": "string",
                  "example": "0 | 1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "string",
                      "example": "array"
                    },
                    "files": {
                      "type": "string",
                      "example": "array"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/color": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Change folder color",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "color": {
                  "type": "string",
                  "example": "default | blue | green | purple | gray | red"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/size": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve directory size",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "sharerId": {
                  "type": "string",
                  "example": "number | 0"
                },
                "receiverId": {
                  "type": "string",
                  "example": "number | 0"
                },
                "trash": {
                  "type": "string",
                  "example": "0 | 1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "string",
                      "example": "number"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/dir/size/link": {
      "post": {
        "tags": [
          "dir"
        ],
        "description": "Retrieve public link directory size",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                },
                "linkUUID": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "string",
                      "example": "number"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/file": {
      "post": {
        "tags": [
          "file"
        ],
        "description": "Retrieve file info",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "uuidv4"
                    },
                    "region": {
                      "type": "string",
                      "example": "string"
                    },
                    "bucket": {
                      "type": "string",
                      "example": "string"
                    },
                    "nameEncrypted": {
                      "type": "string",
                      "example": "string"
                    },
                    "nameHashed": {
                      "type": "string",
                      "example": "string"
                    },
                    "sizeEncrypted": {
                      "type": "string",
                      "example": "string"
                    },
                    "mimeEncrypted": {
                      "type": "string",
                      "example": "string"
                    },
                    "metadata": {
                      "type": "string",
                      "example": "string"
                    },
                    "size": {
                      "type": "string",
                      "example": "number"
                    },
                    "parent": {
                      "type": "string",
                      "example": "uuidv4"
                    },
                    "versioned": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "trash": {
                      "type": "string",
                      "example": "boolean"
                    },
                    "version": {
                      "type": "string",
                      "example": "number"
                    }
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/file/link/status": {
      "post": {
        "tags": [
          "file"
        ],
        "description": "Retrieve file public link status",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Body JSON",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "example": "uuidv4"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "boolean"
                },
                "message": {
                  "type": "string",
                  "example": "string"
                },
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "uuidv4"
                    },
                    "enabled": {
                      "type": "string",
                      "example": "boolean"
[...]
